<div class="row">
  <div class="container">
<div class="Estudios-Realizados">
    <h2>Estudios-Realizados</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="logo-escuela-1.png" alt="Logo empresa 1">
            <h5 class="card-title">Escuela 1</h5>
            <p class="card-text">Descripción del estudio 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="logo-escuela-2.png" alt="Logo empresa 2">
            <h5 class="card-title">Escuela 2</h5>
            <p class="card-text">Descripción del estudio 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="logo-escuela-3.png" alt="Logo empresa 3">
            <h5 class="card-title">Escuela 3</h5>
            <p class="card-text">Descripción del estudio 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>