<div class="row">
  <div class="container">
<section class="projects">
    <h2>Proyectos</h2> <br>
    <div class="project-container">
        <img src=\assets\logo.png alt="Logo de la habilidad"> <br>
      <div class="project"><br>
        <h4>Portafolio web </h4>
        <p>Fecha de realización: 11/05/2023</p>
        <p>Descripción: Portafolio web con Angular, Spring Boot y MYSQL </p>
        <a href="#">Ver proyecto</a>
      </div>
      
      <!-- Agregar más proyectos aquí -->
    </div>
    
    
  </section>

</div>
</div>