<div class="row">
  <div class="container">
<section class="skills">
    
    <h2>Hard & Soft Skills</h2>
    <div class="skill-container">
        <div class="skill">
            <img src=\assets\descarga.png alt="Logo de la habilidad" width="50" height="50">
            <h3>Html</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 80%;">80%</div>
            </div>
          </div>
          
      
          <div class="skill">
            <img src=\assets\CSS3_logo.svg.png alt="Logo de la habilidad" width="50" height="50">
            <h3>CSS</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 70%;">70%</div>
            </div>
          </div>

          <div class="skill">
            <img src=\assets\images.png alt="Logo de la habilidad" width="50" height="50">
            <h3>JavaScript</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 60%;">60%</div>
            </div>
          </div>

          <div class="skill">
            <img src=\assets\angular.png alt="Logo de la habilidad" width="50" height="50">
            <h3>Angular</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 40%;">40%</div>
            </div>
          </div>

          <div class="skill">
            <img src=\assets\ivan-shilov-ucUB9wxkPgY-unsplash.jpg alt="Logo de la habilidad" width="50" height="50">
            <h3>Ingles</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 40%;">40%</div>
            </div>
          </div>

          <div class="skill">
            <img src=\assets\comunicacion.png alt="Logo de la habilidad" width="50" height="50">
            <h3>Comunicacion</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 90%;">90%</div>
            </div>
          </div>

          <div class="skill">
            <img src=\assets\adaptabilidad.png alt="Logo de la habilidad" width="50" height="50">
            <h3>Adaptabilidad</h3>
            <div class="skill-progress">
              <div class="skill-bar" style="width: 100%;">100%</div>
            </div>
          </div>
          
        </div>
      